@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: none;
}

nav input {
    border: solid 3px rgb(224, 217, 217);
    background-color: #333;
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
    margin-left: 20%;
    /* margin-right: 3%; */
}

nav p {
    font-weight: 900;
    font-size: 1.3rem;
    color: rgb(238, 230, 230);
    padding-right: 20%;
    padding-left: 3%;
}

body {
    background-image: url(./25_Juli_2019_\(4\).jpg);
    min-width: min-content;
}

header ul li {
    text-align: center;
    padding: 2%;
}

nav li,
nav p {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(238, 230, 230);
}

main h2 {
    text-align: center;
    font-size: 3.3rem;
    font-family: "Roboto", sans-serif;
    color: rgb(238, 226, 226);
    margin-top: 3%;
    font-weight: 100;
}

#p {
    text-align: center;
    font-size: 1.7rem;
    color: rgb(216, 197, 197);
    margin-top: 2%;
}

ol li a {
    text-decoration: none;
    border-bottom: solid red 2px;
    color: rgb(238, 230, 230);
    padding-bottom: 4px;
}

ol li {
    padding-top: 10%;
    display: inline-block;
    margin-left: 15%;
    margin-top: -50px;
    margin-right: 15%;
}

section {
    text-align: center;
    background-color: white;
    margin: 8% 10%;
    padding-bottom: 50px;
    border-top: solid rgb(26, 23, 23) 3px;
    border-left: solid rgb(26, 23, 23) 3px;
    box-shadow: #333;
}

section div {
    display: inline-block;
    padding-right: 2rem;
    padding-left: 1rem;
    margin-top: 5%;
    font-family: "Roboto", sans-serif;
}

section div ul li {
    line-height: 2rem;
    list-style-type: ">";
    text-align: justify;
}

section div ul li ::before {
    color: blue;
}

div a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(14, 141, 245);
}

div p {
    font-style: italic;
    text-align: justify;
}

div h3 {
    font-weight: 800;
}

#override {
    background-color: white;
    height: 15vh;
    margin-top: -15%;
}